.shadow-box-container{
    padding: 100px;
    box-sizing: border-box;
    border: solid 1px #f0f0f0;
    overflow: hidden;
}

.shadow-box {
    position: relative;
    display: block;
    width: 75%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 52.6%;
}
