.content {
    width: 1400px;
    max-width: 90%;
    margin: 10px auto;
    border: solid 1px #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.content > div {
    position: relative;
    width: 48%;
    min-width: 350px;
    height: 100%;
    margin: 5px;
    box-sizing: border-box;
}