.content {
    width: 1400px;
    max-width: 90%;
    margin: 10px auto;
    border: solid 1px #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 20% 60% 20%;
}
