@import url(colors.css);

header {
    padding: 0;
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    height: 60px;
    max-height: 60px;
    box-shadow: 0px 2px 2px 0px rgba(149, 149, 149, 0.25),
                0px 4px 5px 0px rgba(149, 149, 149, 0.16),
                0px 4px 11px 0px rgba(208, 208, 208, 0.16);
}

h1 {
    font-size: 1rem;
    color: var(--main-color);
    display: inline-block;
    padding: 10px;
    position: relative;   
}

.box {
    padding: 5px;
    padding-right: initial;
    box-sizing: border-box;
    border: solid 2px;
    border-image-source: linear-gradient(to left top, #f7accf, #c787b1, #976494, #684476, #392759);
    border-image-slice: 1;
    border-right: none;
}