.shadow-layer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 7px;

    cursor: pointer;

    transition: .1s ease-in-out;
}

.shadow-layer.active p::after {
    content: 'Selected';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: .8rem;
    margin-left: 10px;
    color: var(--link-color);
}

.shadow-layer:hover{
    background: #ededed;
}

.shadow-layer .shadow-preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    width: 45px;
    height: 45px;
    background-color: white;
}

.shadow-layer .shadow-preview .shadow-preview-box {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #ededed;
}

.shadow-layer:hover .shadow-preview .delete-layer-container {
    opacity: 1;
}

.shadow-layer .shadow-preview .delete-layer-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000080;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out .1s;
}

.shadow-layer .shadow-preview .delete-layer-container svg {
    color: white;
}

