.sliders {
    position: relative;
    padding: 15px 10px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.sliders::-webkit-scrollbar{
   width: 4px;
   background: transparent; 
   transition: all .2s ease-in-out;
}

.sliders::-webkit-scrollbar-track{
   margin: 10px 0;
}

.sliders::-webkit-scrollbar-thumb {
    background-color: #00000033;
    border-radius: 10px;
}

.sliders > * {
    padding: 10px 0;
}

.color-inset {
    display: grid;
    grid-template-columns: 50% 50%;
}

.color-inset > .chrome-picker {
    width: 90% !important;
    margin: 0;
}